# Sensitive data
.env
*.env.local

# Dependency folders
frontend/node_modules/
backend/node_modules/

# Build outputs
frontend/.next/

# OS specific files
.DS_Store
Thumbs.db

#logs
*.log

# Playwright
frontend/test-results/
frontend/playwright-report/
frontend/blob-report/
frontend/playwright/.cache/
frontend/playwright/.auth/

# Monitoring envs
monitoring/prometheus.yml
