# Sensitive data
.env
*.env.local

# Dependency folders
frontend/node_modules/
backend/node_modules/
.cache

# Build outputs
frontend/.next/

# OS specific files
.DS_Store
Thumbs.db

#logs
*.log

# Tests
frontend/test-results/
frontend/playwright-report/
frontend/blob-report/
frontend/playwright/.cache/
frontend/playwright/.auth/
backend/test-results/
backend/logs/
# Monitoring envs
monitoring/prometheus.yml
